[Desktop Entry]
Type=Application
Name=adp
Comment=Apply domain policy for user
Comment[ru]=Применение доменных политик для пользователя
Exec=adp apply
Categories=Network;RemoteAccess;
