[Unit]
Description=Apply domain policies for machine
After=sssd.service

[Service]
User=root
ExecStart=/usr/bin/adp apply
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
