[Unit]
Description=Apply domain policies for machine
After=sssd.service

[Service]
User=root
ExecStart=/usr/bin/adp apply

[Install]
WantedBy=multi-user.target
